@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,300;1,300&display=swap');
body{
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    font-size: 16px;
    background-color: hsl(212, 45%, 89%);
    }

@media all and (max-width: 375px){

        /* .flex-container{
            display: flex;
            place-content: center;
        } */

        .main-container{
            background-color: hsl(0, 0%, 100%);
            height: 74vh;
            margin-inline: 22px;
            margin-block: 58px;
            border: 30px solid white;
            text-align: center;
            border-radius: 20px;
            font-size: 12px;
        }

        .flex-for-image{
            display: flex;
            justify-content: center;
        }

        img{
            margin-top: -14px;
            width: 25em;
            border-radius: 10px;
        }

        .first-paragraph{
            font-weight: bold;
            font-size: 1.8em;
            font-family: 'Alata', sans-serif;
            color: hsl(218, 44%, 22%);
            margin-top: 16px;

        }

        .second-paragraph{
            text-align: center;
            font-size: 1.2em;
            max-width: 263px;
            font-family: 'Alata', sans-serif;
            color: hsl(220, 15%, 55%);
            margin-top: -8px;
            margin-inline: 10px;
        }


}

@media all and (min-width: 376px) and (max-width: 1440px){
    
    .flex-container{
        display: flex;
        place-content: center;
    }
    .main-container{
        background-color: hsl(0, 0%, 100%);
        height: 67vh;
        width: 20em;
        margin-block: 58px;
        border: 30px solid white;
        text-align: center;
        border-radius: 20px;
        font-size: 12px;
        
    }

    .flex-for-image{
        display: flex;
        justify-content: center;
    }

    img{
        width: 23em;
        border-radius: 10px;
        margin-top: -19px;
    }

    .first-paragraph{
        font-weight: bold;
        font-size: 1.6em;
        font-family: 'Alata', sans-serif;
        color: hsl(218, 44%, 22%);
    }

    .second-paragraph{
        font-family: 'Alata', sans-serif;
        font-size: 1.1em;
        max-width: 260px;
        margin-inline: 7px;
        margin-top: -10px;
        color: hsl(220, 15%, 55%);
        
    }
}